@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f1624;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #405c95;
  cursor: pointer;
  display: none;
}
::-webkit-scrollbar-thumb:hover {
  display: block;
}
